/* RESET */
@import url('reset.css');

/* @font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto/Roboto-Regular.woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto/Roboto-Regular.woff2');
    font-weight: 700;
    font-display: swap;
} */
/* _____________________________________ */
html {
    height: 100%;
    font-size: 18px;   
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    height: 100%;
}

.container {
    min-width: 1000px;
    margin: 0 auto;
    padding: 30px;
}





/* --------------------------------- */
.mobile-menu {
    display: none;
}

.form {
    width: 500px;
    margin: 0 auto;
    background-color: rgb(226, 225, 225);
    border-radius: 10px;
}

.convert-from-dropdown_hidden--js {
    display: none;
}

.convert-from-item_visible {
    display: block;
}

.convert-from-item_hidden {
    display: none;
}

table thead th, table tbody td, table tbody th {
    border: 1px solid rgba(128, 128, 128, 0.149); /* Corresponds to border-slate-600 in Tailwind CSS */
    padding-top: 0.5rem; /* Corresponds to py-2 in Tailwind CSS */
    padding-bottom: 0.5rem; /* Corresponds to py-2 in Tailwind CSS */
    padding-left: 0.5rem; /* Corresponds to pl-2 in Tailwind CSS */
 }

 table thead th, table tbody th {
   font-weight: 500;
 }

table tr:nth-child(odd) {
 background-color: white;
}

table tr:nth-child(even) {
 background-color: #e2e8f0; /* This is the hexadecimal color for slate-200 */
}





